{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}








<form method="POST" action="{% url openid:google_apps %}">
    {% csrf_token %}
    <input type="text" name="domain" value="helveticode.com" autofocus />
    <input type="submit" value="Authenticate with OpenID(Google Apps)" />
</form>


<form method="POST" action="{% url oauth:google_apps %}">
    {% csrf_token %}
<!--    <input type="text" name="domain" value="helveticode.com" autofocus />-->
    <input type="submit" value="Authorize with OAuth(Google Apps)" />
</form>

<form method="POST" action="{% url oauth:termie %}">
    {% csrf_token %}
<!--    <input type="text" name="domain" value="helveticode.com" autofocus />-->
    <input type="submit" value="Authorize with OAuth(term.ie)" />
</form>




<form method="POST" action="{% url openid:google_apps_hybrid %}">
    {% csrf_token %}
    <input type="text" name="domain" value="helveticode.com" autofocus />
    <input type="submit" value="Authenticate with OpenID(Google Apps) + Authorize with OAuth(Google Apps)" />
</form>
